<template>
  <style>
    .container {
      margin-top: 1rem;
      background-color: #ffdbdb;
      padding: 0.5rem 1rem;
      border-radius: 1rem 0;
      box-shadow: 0.25rem 0.25rem 0.5rem #c79494;
    }

    a {
      color: black;
      text-decoration: none;
    }

    h3 {
      font-family: "Times New Roman", serif;
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: 0;
    }

    small {
      word-break: break-all;
    }

    small,
    p {
      color: #666;
    }
  </style>
  <div class="container">
    <a href="" target="_blank">
      <h3><slot name="title">Link title</slot></h3>
      <small><slot name="url">example.com</slot></small>
      <p><slot name="description">Description of the link</slot></p>
    </a>
  </div>
</template>

<script type='text/javascript'>
  // reference to this doc for the class to use
  const linkItemDoc = document.currentScript.ownerDocument;
</script>

<script type='module' src='./link-item.js'></script>
